<%= stylesheet_link_tag "employees.css" %>
<body>
    <div class='wrapper'>
        <div class='header'>
            <ul>
                <li><a href='/sessions/<%= @current_user.id %>'>(Logout)</a></li>
                <li class='user'><%= current_user.first_name %></li>
                <li>|</li>
                <li><a href="/home">Home</a></li>
            </ul>
        </div>
        <img class='backgroundimg' src='/assets/img1.jpg' alt='img1.jpg'>
        <div class='body'>
            <h1>Displaying Hired Applicant Info</h1>
            <hr>
            <h3><%= @hire.first_name %> <%= @hire.last_name %></h3>
            <p>Email: <%= @hire.email %></p>
            <p>City: <%= @hire.city %></p>
            <p>Job Position: <%= @hire.job_position %></p>
            <p>Added by: <%= @hire.user.first_name %> <%= @hire.user.last_name %></p>
            <hr>
            <a href='/home'>Back to Home</a>
        </div>
    </div>
</body>