.header {
    height: 30px;
    width: 100%;
    background-color: rgb(178, 178, 178);
    position: fixed;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
}
.user {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: -8px;
}
.header li {
    list-style-type: none;
    word-spacing: 5px;
    float: right;
    padding-right: 20px;
    position: relative;
    bottom: 10px;
}
.header a {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(101, 152, 165);
}
.backgroundimg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
}
.scoldimg {
    height: 35%;
    width: 30%;
}
.body {
    height: 100%;
    background-color: white;
    width: 70%;
    opacity: 0.8;
    position: absolute;
    top: 42px;
    left: 300px;
}
.scolders {
    font-family: monospace;
    color: red;
    font-size: 26px;
}
.delete {
    width: 600px;
    border-style: solid;
    border-width: 1px;
    margin-top: 8px;
    padding: 10px;
    text-align: center;
    border-color: white black black black;
}